
.info-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    overflow-x: auto;

}

.info-containerText{
    font-size: 1.4rem;
    font-weight: bold;
}

.newInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding: 20px;
    justify-content: space-evenly;
}


.info-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    justify-content: space-evenly;
    padding: 20px;
    border-bottom: 2px solid #e9e9e9;
}

.info-container span{
    font-size: 1.2rem;
}


.info-cards div:nth-child(2n+1){
    margin-bottom: 10px;
}

.info-cards div:nth-child(2n){
    margin-bottom: 10px;

}



@media (min-width:1000px){
    .info-cards{

        flex-wrap: nowrap;

    }
    .info-cards div:nth-child(2n+1){
        margin-bottom: 50px;
    }

    .info-cards div:nth-child(2n){
        margin-bottom: 0;

    }

    .newInfo{

        height: 100vh;
    }

    .info-container{
        height: 100vh;
    }
    
}
