
.PhotoCall-Component{
    width: 100%;
    height: 600px;
    background-image: url("https://i.ibb.co/3cJYrMX/zoom-meeting-A.png");
    background-repeat: repeat;

    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;

}

.PhotoCall-Component span{
    color: #fff;

    text-align: center;
    width: 80%;
    position: absolute;
    z-index: 2;
    font-size: 1.2rem;

}

.PhotoCall-Orange{

    position: absolute;

    width: 100%;
    height: 100%;
    background-color: #fd6f28bd;
}


@media (min-width:1000px){
    .PhotoCall-Component{
        height: 100vh;
    }
}