.Header-Component{

    width: 100%;
    background-color: #fd6f28;
    height: 400px;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.Header-Component svg{
    position: absolute;
    left: -100px;
    height: 100%;
    z-index: 0;
    display: none;    
}

.wPatch{
    width: 50px;
    position: absolute;
    height: 100%;
    left: 0;
    background-color: #fff;
    z-index: 0;
    display: none;
}

.HeaderContent{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    
}

.HeaderContent-text{
    width: 100%;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;

    align-items: flex-start;
    font-size: 1.2rem;
}

.HeaderContent-text span{
    font-weight: bold;
    color: #fff;
}

.HeaderContent img{
    width: 150px;
    object-fit: cover;
    display: none;
}
.HeaderImg-movil{
    position: absolute;
    z-index: 0;

    width: 80%;
    object-fit: cover;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    display: none;


}



    @media (min-width:1000px){
        .HeaderContent-text span{
            font-weight: bold;
            color: #fd6f28;
        }
        .HeaderImg-movil{
            display: none;
        }
        .Header-Component{
            background-color: var(--primary);
            color: #000;

            height: 100vh;

        }


        .Header-Component svg{
            left: -100px;
            display: block;
            height: 100%;
        }

        .wPatch{
            width: 250px;
            display: block;
        }

        .HeaderContent img{
            width: 50%;
            height: 100%;
            display: block;
            margin-top: auto;

        }

        .HeaderContent-text{
            width: 40%;
            gap: 30px;
            font-size: 1.6rem;

        }
    }


    @media (min-width:1400px){
        .Header-Component svg{
            left: 0px;

        }

        .HeaderContent img{
            width: 50%;

        }
    }

