.QuestionSection{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box;
    padding: 30px 0;
    gap: 20px;
}

.QuestionSection > span{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary);

    border-bottom: 1px solid var(--primary);


}

@media (min-width:1000px){
    .QuestionSection{
        height: 100vh;
    
    }
}