.ClientSection{
    border-bottom: 2px solid #e9e9e9;
    box-sizing: border-box;

    padding: 20px 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    text-align: center;
}

.clientSectionVector{
    width: 100%;
    overflow-x: auto;
}

.ClientSection svg{
    width: 1200px;

    
}


.ClientSection span{
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}


@media (min-width:1000px){
    .ClientSection{
    }
    .ClientSection svg{
        width: 80%;
    }
}
