.FooterComponent{

    height: 300px;
    position: relative;
}

.FooterComponent svg{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;

}

.footerOSection{
    width: 100%;
    height: 200px;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
}

.FooterContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
}

.FooterContent-Logo{
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #000;

    display: none;
}

.FooterContent-Layout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 30px;
    color: #fff;
}


.FooterContent-Center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 18px;
    width: 100%;
}

.FooterContent-CenterElements{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    justify-content: space-evenly;
}

.FooterContent-CenterElements > span{
    cursor: pointer;
}

.FooterContent-List{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;

    display: none;
}

.FooterContent-CenterForm{
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 20px 10px;

    width: 90%;
    margin-left: 5%;    

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.FooterContent-CenterForm input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    padding: 5px 0;
    color: #fff;

    width: 200px;
    

}

.FooterContent-CenterForm button{
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 5px 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.FooterContent-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;

}

.FooterContent-icons img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;

}

.Footer-Form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
}



@media (min-width:1000px){
    .FooterContent-Logo{
        width: 150px;
        height: 150px;

        display: flex;
    }

    .FooterContent-Center{
  
        width: 40%;
    }

    .FooterContent-List{
        display: flex;
    }

    .FooterContent-CenterElements{
        justify-content: space-between;
    }

    .FooterContent-CenterForm{
        width: 100%;
        padding: 30px 40px;

    }

    .FooterContent-CenterForm input{
        width: 200px;
        
    }
    .FooterComponent{

        height: 500px;
    }
}


@media (min-width:1400px){


    .FooterContent-CenterForm input{
        width: 250px;
        
    }

}
