

.SecundaryButton{
    padding: 8px 30px;
    box-sizing: border-box;
    border-radius: 8px 0px 8px 8px;
    background-color: transparent;
    border: none;
    border: 1px solid #000;
    min-width: 7%;
    font-size: 1rem;
    font-weight: bold;
}